# Pandas Manipulating Data
Most of this notebook came from   
[the pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)   
and  
(Real Python)[https://realpython.com/pandas-dataframe/#accessing-and-modifying-data]


#### Import the pandas
and set the sample data directory and filename

In [2]:
import pandas as pd

In [ ]:
# just check the directory and file are there
# !dir "../data"

In [3]:
# up one levels to topic03 and then down into data
datadir = "../data/"
people_filename=datadir+"people-100.csv"
timetable_filename = datadir+"timetable.tsv"

#### the timetable data
this is real anolymised data is a tab seperated format
<code>df = pd.read_csv(file, sep="\t")</code>
because it is real it has missing data and some data is that is in different formats

In [4]:
df= pd.read_csv(timetable_filename, sep="\t")
df.head(3)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...
1,Mayo Campus,t,NURS06060 Recovery Orientated care in mental h...,NURS06060 Recovery Orientated care in mental h...,18,NURS06060,NURS06060 Recovery Orientated care in mental h...,3,MY_a sem1,12,"Edmunds, Colin",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...

#### selecting particular rows
<code>df.iloc[]</code> <code>df.loc[]</code>


in these examples loc and iloc return the same

In [6]:
#df.iloc[40:50]  # returns rows 40 to 50
#df.loc[[42,44]]  # returns rows 42 and 44
df.loc[[42,44],['Staff (delimited)']]  ## only return the staff column

                 Staff (delimited)
42  Carr, Connor/Marshall, Vanessa
44  Carr, Connor/Marshall, Vanessa

##### a more complicated example  
Find all the rows which have mulitple staff

In [9]:
df[df['Staff (delimited)'].str.contains('/')]
#cleandf= df.fillna(value=' ')
#cleandf[cleandf['Staff (delimited)'].str.contains('/')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

#### drop specific rows

<code>df.drop()</code>

In [10]:
df.drop([1,3])
df.head(4)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...
1,Mayo Campus,t,NURS06060 Recovery Orientated care in mental h...,NURS06060 Recovery Orientated care in mental h...,18,NURS06060,NURS06060 Recovery Orientated care in mental h...,3,MY_a sem1,12,"Edmunds, Colin",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...
3,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_DIGI sem1,3,"Jones, James",L,NaN,NaN,MY_SP_DIGI 1,0100010000100000000000000000000000000000000000...

Hold on that did not drop anything
<code>inplace</code> parameter
of make a dataframe equal it.

In [ ]:
df.drop([1,3], inplace=True)
#df= df.drop([1,3])
df.head(4)

In [ ]:
df.iloc[[2,4]]

In [ ]:
df.loc[[2,4]]

### make new columns
any thing you can do with numpy you can do with PANDAS series
eg multiply two columns

In [ ]:
df['total_hours'] = df['Duration'] * df['Number of Weeks']
df.head(3)

In [ ]:
people_df = pd.read_csv(people_filename)
people_df.head(3)

to get the email domains

In [ ]:
people_df['domain'] = people_df['Email'].str.split('@').str[1]
people_df.head(3)

How would you make a pie chart for the email domains